.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-size: var(--main-font-size);
  color: var(--main-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  inline-size: var(--inline-size);
  max-inline-size: 700px;
  background-color: var(--bg-color);
  border: var(--section-border);
  padding: var(--header-padding);
  margin: var(--header-margin);
}

.title {
  font-family: var(--accent-font), fantasy;
  text-align: center;
  text-transform: uppercase;
}

.header__logo {
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  inline-size: var(--inline-size);
  max-inline-size: 700px;
  margin: 0 auto 100px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  border: var(--section-border);
  background-color: var(--bg-color);
  margin: 0;
}

.watermark-container {
  position: relative;
}

.watermark-text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  font-weight: inherit;
  line-height: 100%;
  opacity: 50%;
  text-shadow: var(--watermark-shadow);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .watermark-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card-title {
  font-size: inherit;
  font-variation-settings: 'wght' var(--bold-font-weight);
  text-wrap: balance;
  line-height: 119%;
  letter-spacing: 0;
  color: var(--main-color);
  padding: 5px 24px 5px 10px;
}

.card-image {
  display: block;
  inline-size: var(--inline-size);
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
}

.filter-hue-rotate {
  filter: hue-rotate(50deg);
}

.filter-contrast {
  filter: contrast(110%);
}

.filter-opacity {
  filter: opacity(90%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-poli {
  filter: contrast(120%) sepia(30%) saturate(150%) invert(30%) hue-rotate(70deg);
}

.filter-invert {
  filter: invert(30%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-drop-shadow {
  filter: drop-shadow(5px 10px 3px rgba(0, 0, 0, 0.6));
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  margin: 0;
}

.card-text {
  font-family: inherit;
  font-weight: inherit;
  line-height: 21px;
}

.button {
  display:flex;
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-block-size: 38px;
  overflow: hidden;
  padding: 0;
}

.button:focus {
  outline: none;
}

.like-container {
  display: grid;
  grid-template-columns: 39px 130px;
  gap: 7px;
  justify-self: end;
  align-self: end;
  justify-content: end;
  align-items: center;
  inline-size: min-content;
  min-inline-size: 169px;
}

.card__icon-button {
  display: block;
  max-block-size: 38px;
  min-inline-size: 27px;
  background-color: var(--bg-color);
  box-shadow: none;
  border: none;
  align-items: center;
  border: 2px solid var(--icon-border-color);
  padding: 0;
  margin: 0;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  display: block;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.card__like-button {
  max-inline-size: 169px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  font-weight: var(--main-font-weight);
  line-height: 90%;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: #fff;
}

.save-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-inline-size: 335px;
  justify-self: center;
  color: #fff;
  padding: 15px 0;
}

.floppy-image {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: #fff;
}

.dialog-window {
  gap: 30px;
  align-self: center;
  justify-self: center;
  place-items: center;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: var(--bg-color);
  border: var(--section-border);
  min-inline-size: 353px;
}

.dialog-window[open] {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
}

.dialog-window[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-floppy-image {
  display: flex;
  justify-content: start;
  align-items: center;
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  z-index: 1;
}

.dialog-container {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  justify-content: start;
  align-items: center;
  justify-self: center;
  max-inline-size: 293px;
  inline-size: 100%;
}

.dialog-text{
  display: inline-flex;
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-weight: var(--main-font-weight);
  color: var(--main-color);
  line-height: 150%;
  text-transform: uppercase;
  inline-size: min-content;
}

.submit-button {
  inline-size: 293px;
  border: var(--section-border);
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  color: var(--main-color);
}

.zero-block-size {
  block-size: 0;
}

@media (width <= 375px) {

  .header {
    --header-padding: 120px 0;
  }

  .header__logo {
    --header-logo-size: clamp(2.5625rem, -0.3466rem + 14.5455vw, 3.0625rem);
  }
  
  .header__title {
    --header-title-size: clamp(0.5rem, -1.6818rem + 10.9091vw, 0.875rem);
  }

  .watermark-text {
    right: 11px;
  }

  .card-title {
    padding: 5px 10px;
  }

  .save-button {
    flex-direction: column;
    min-inline-size: 306px;
  }

  .floppy-image {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-window {
    min-inline-size: 341px;
    inline-size: 100%;
  }

  .dialog-container {
    max-inline-size: 257px;
  }

  .dialog-text {
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  }

  .submit-button {
    inline-size: 257px;
  }
}