:root {
  --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --main-color: #000;
  --stroke-color: #fff;
  --sparks-color: red;
  
  --main-font: 'Inter';
  --accent-font: 'Press Start 2P';

  --main-font-weight: 400;
  --bold-font-weight: 700;

  --main-font-size: 18px;
  --accent-font-size: 14px;

  --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  
  --inline-size: 100%;
  --floppy-inline-size: 28px;
  --floppy-block-size: 28px;

  --section-border: 2px solid #000;
  --icon-border-color: transparent;

  --header-margin: 100px auto;
  --header-padding: clamp(120px, 50%, 128px) 0;
  
  --watermark-shadow: 
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
}